body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: #202020; /* Optional background color */
}

canvas {
  display: block;
}
